<div class="checkbox" style="width:30%;display:inline-block;margin:1% 1% 1% 1%; padding: 1% 1% 1% 1%;">
  <label class="checkbox-inline"><input checked type="checkbox" id="<%= keyword %>" value="<%= keyword %>"><%= keyword %></label>
</div>