<div class="container">
  <h2>Twitter Engage is a website designed for a small business to follow Twitter keywords throughout the day.</h2>
  <ul>
    <li>
      <p>Twitter Engage allows you to get Tweets in real time for a number of keywords, see them in a live feed,
      delete tweets you do not want, and interact with (and save) Tweets that are relevant to your business.</p>
    </li>
    <li>
      <p>Once you save a tweet, it will become visible in your Data page where you can see all of the tweets you have saved.</p>
    </li>
  </ul>
  <hr/>

  <h3>Twitter Engage is currently in version 1.0.0-beta. There are a number of forthcoming features and usability changes.
    I'm happy to hear suggestions about features.</h3>
</div>