
<div class="container">
  <h2>
    Saved tweets
  </h2>
  <table class="table table-striped sortable">
    <thead>
    <tr>
      <th>Topic</th>
      <th>Text</th>
      <th>Liked</th>
      <th>Replied</th>
      <th>Retweeted</th>
      <th>User Name</th>
      <th>User Location</th>
      <th>Profile Link</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td>Trump</td>
        <td>Full Text</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>My user name</td>
        <td>Chicago, Illinois</td>
        <td>Profile Link goes here</td>
      </tr>

      <tr>
        <td>Trump</td>
        <td>afadsfdsafafasd!!!!!</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>My user name</td>
        <td>Chicago, Illinois</td>
        <td>Profile Link goes here</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-xs-3 limit">
      <p>Limit 25,50,100, 250</p>
    </div>

    <div class="col-xs-1 space">

    </div>
    <div class="col-xs-8 pages">
      pages go here for pagination
    </div>
  </div>
</div>