<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<div class="container" style="width:98%;margin-left:2%;" >
  <div class="row" style="width:100%;">
    <div class="col-xs-5">
      <div class="row">
      Enter as many keywords as you would like (comma-separated)
        <%= form_for :dashboard, url: set_keywords_path do |form| %>
            <div class="form-group">
              <%= form.text_area :keywords, class: "form-control" %>
              <!-- We recreate a key for each form submission so that we can simply treat
              A user who changes keywords as another / new user -->
              <%= form.hidden_field :key, :value => "#{rand(36**10).to_s(36)}" %>
            </div>
            <%= form.submit "Submit keywords", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div id="checkboxes" class="row" style="margin-top:2%;">
        <div class="well">
          <h4>Keywords</h4>
            <p>Click to enable or disable tweets matching the keyword</p>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div id="tweets-column" class="col-xs-6 pre-scrollable" style="border: solid #212121 1px;background-color:#f8f8f8;">
      <div class="content">
      </div>
    </div>
  </div>

  <div id="key" style="display:none;" data-key="">
  </div>
</div>

<script>

  initialize();


  function initialize(){
    initializeListeners();
  };

  //https://stackoverflow.com/questions/6723334/submit-form-in-rails-3-in-an-ajax-way-with-jquery
  function initializeListeners() {
      $('form').submit(function(event) {
          event.preventDefault();
          var valuesToSubmit = $(this).serialize();
          $.ajax({
              type: "POST",
              url: $(this).attr('action'), //sumbits it to the given url of the form
              data: valuesToSubmit,
              dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
          })
      });
  };
</script>